* {
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  text-align: center;
}
.main {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
}
.tab {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
}
.tab a, .tab button {
  font-size: 18px;
  height: 40px;
  width: 40px;
  padding: 10px 20px;
  margin-right: auto;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* 位置指定を追加 */
}
.tab a img {
  height: 65px;
  width: 65px;
}
.tab a.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px; /* ボーダーの位置を下げるための距離 */
  height: 2px; /* ボーダーの高さ */
  background-color: blue; /* ボーダーの色 */
}
.section {
  width: 100%;
  margin-top: 10vh;
}
@media (max-width: 600px) {
  .tab {
    align-items: center;
  }
}
/* 画像のスタイル */
.study-image {
  max-width: 100%; /* 画像を親要素に合わせてリサイズ */
  height: auto;
  margin: 10px 0;
}

/* 画像を包むコンテナ */
.image-container {
  position: relative; /* 画像とカテゴリー名を重ねるために必要 */
  display: inline-block; /* 画像とカテゴリー名を横に並べる */
  margin: 10px;
}

/* 画像のスタイル */
.category-image {
  width: 300px; /* 画像のサイズ */
  height: 300px; /* 画像のサイズ */
  object-fit: cover; /* 画像が枠に収まるように調整 */
}

/* カテゴリー名のスタイル */
.category-name {
  position: absolute; /* 画像の上に重ねる */
  top: 50%; /* 画像の中央に配置 */
  left: 50%; /* 画像の中央に配置 */
  transform: translate(-50%, -50%); /* 正確に中央揃えにするために調整 */
  color: white; /* 文字色 */
  font-size: 32px;
  font-weight: bold;
  text-align: center; /* 中央揃え */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* 文字に影をつけて見やすくする */
}