* {
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    text-align: center;
    font-family: Arial, sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    overflow: auto;
}
.main {
    width: 100%;
}
.tab {
    position: fixed;
    left: 10px;
    display: flex;
    gap: 10px;
    height: 100px;
    width: 100%;
    justify-content: flex-start;
    background-color: white;
    z-index: 10;
}
.tab a, .tab button {
    font-size: 18px;
    height: 40px;
    width: 40px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: auto;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* 位置指定を追加 */
}
.tab a img {
    height: 65px;
    width: 65px;
}
.tab a.active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px; /* ボーダーの位置を下げるための距離 */
    height: 2px; /* ボーダーの高さ */
    background-color: blue; /* ボーダーの色 */
}
.section {
    width: 100%;
    margin-top: calc(100px + 2vh);
}
@media (max-width: 600px) {
    .tab {
        align-items: center;
    }
    .side_unit {
        width: 100%;
    }
}
.chart-container {
    width: 80%;
    max-height: 600px;
    height: 30vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side_unit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    margin-top: 2vh;
    margin-left: 1vw;
}
.side_unit_button {
    display: flex;
    justify-content: center;
    gap: 5vw;
}
.side_unit_button button {
    height: 5vh;
    width: 20vw;
    font-size: 4vw;
    background-color: #4870BD;
    color: white;
    border-radius: 15px;
    border: none;
}
.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 30vh;
    margin-top: 2vh;
    font-size: 3vw;
}
.chart-container canvas {
    width: 100% !important;
    height: 100% !important;
}
.span_select, .total_span_select {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    margin-top: 2vh;
}
.span_select_left, .span_select_right, .total_span_select_left, .total_span_select_right {
    width: 10vw;
    height: 10vw;
}
.span_select_text, .total_span_select_text {
    font-size: 3vw;
}
.chart-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 30vh;
    margin-top: 2vh;
}
.category-chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 30vh;
}
.totalSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 30vh;
    margin-top: 4vh;
}
.totalSection_header_text {
    font-size: 4vw;
}
.total_time_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 15vh;
}
.total_time {
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: center;
    align-items: center;
    p {
        font-size: 4vw;
    }
}
.total_count {
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: center;
    align-items: center;
    p {
        font-size: 4vw;
    }
}