@use "sass:color";

.loading {
    position: fixed; // 固定位置
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;   // 垂直方向の中央揃え
    justify-content: center; // 水平方向の中央揃え
    text-align: center;
    background-color: white;
    visibility: hidden;
    transition: 0.5s;

    &.active {
        visibility: visible;
        opacity: 1;
    }

    &__icon {
        position: relative; // アイコンの位置設定
        width: unquote($string: "min(90vw, 800px)"); // アイコンサイズ
        height: unquote($string: "min(90vw, 800px)"); // アイコンサイズ
        border-radius: 50%;
        border: 5px solid;
        border-color: color.scale(#4870BD, $lightness: 40%);
        animation: loading-rotate 3s infinite linear;
    }

    &__text {
        position: absolute; // テキストの位置設定
        justify-content: center;
        animation: flash-text 1.5s infinite linear alternate;
        line-height: 1;
        font-size: 7vh; // フォントサイズ
        text-align: center;
    }
}

@keyframes loading-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes flash-text {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}