.logo {
    display: flex;
    justify-content: center;
    margin: 0 auto 0;
    width: 40vh;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
.logo img {
    width: 100%;
    height: 100%;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: border-box;
}
html {
    overflow-y: scroll;
}
body {
    background: white;
}
a {
    text-decoration: none;
    color: #4870BD; /* 1ab188 -> #4870BD */
}
a:hover {
    color: #5F89D7; /* 1ab188 -> #5F89D7 */
}
.index-buttons {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
    gap: 20px;
    width: 80vw;
    height: 50vh;
    font-size: 5vw;
    a {
        width: 35%;
        font-size: 5vw;
        border-bottom: 1px #4870BD solid;
    }
    button {
        width: 50%;
        height: 10%;
        font-size: 5vw;
        background-color: #4870BD;
        color: white;
        border: none;
        margin-top: 5vh;
    }
}

/* ログイン関連 */
.loginPopup {
    display: none;
}

/* 保護者ログイン */
.guardianPopup {
    display: none;
}

/* サインアップ */
.signupPopup {
    display: none;
}