.btn-gradient {
    -webkit-transform: skew(-15deg);
    transform: skew(-15deg);
    color: #fff;
    border-radius: 3%;
    border-style: none;
    background-image: -webkit-gradient(linear, left top, right top, from(#5F89D7), to(#4870BD));
    background-image: -webkit-linear-gradient(left, #5F89D7 0%, #4870BD 100%);
    background-image: linear-gradient(90deg, #5F89D7 0%, #4870BD 100%);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);

  }

  .gradient {
    border: 4px solid #4870BD;
    color: #4870BD;
    outline: none;
  }
  
  