*{
    box-sizing: border-box;
    padding-top: 80;
}
@font-face {
    font-family: 'Corporate-Logo-Medium-ver3';
    src: url(../font/Corporate-Logo-Medium-ver3.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Corporate-Logo-Medium-ver3", sans-serif;
    background-color: white;
    background: white;
}
main{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
/* home画面 */
.auth {
    height: 20vh;
    width: auto;
}

input, textarea{
    border-width: 5px;
    border-style: solid;
    background-color: white;
    color: black;
    width: 95%;
    height: 44px;
    -webkit-appearance: none;
}
textarea{
    height: 80px;
    width: 100%;
    max-width: 248px;
}
h1{
    margin: 0; padding: 0;
    font-size: 1.4rem;
}

.back{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 40px;
    margin-bottom: 24px;
    padding-top: 24px;
    width: 100%;
}
.back button {
    border-radius: 6px;
    background: #5bc8ac;
    color: black;
    font-weight: bold;
    font-size: 30px;
    padding: 10px 20px;
    width: 150px;
    text-align: center;
}
.back a{
    color: black;
    text-decpration: none;
}